body {
  font-family: 'opensans-regular';
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

body.webp {
  background-image: url("../img/hero-home.webp");
}

body.non-webp {
  background-image: url("../img/hero-home.jpg");
}

@font-face {
  font-family: 'opensans-regular';
  src: url("../fonts/opensans/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-bold';
  src: url("../fonts/opensans/bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a[role="button"] {
  display: inline-block;
  color: unset;
}

button:focus {
  outline: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700 !important;
}

.inner-title {
  font-family: 'opensans-bold';
  font-size: 40px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #33094b;
  margin-top: 0;
}

.inner-desc {
  font-family: 'montserrat-regular';
  padding: 10px 0;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  text-align: justify;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .inner-desc {
    font-size: 16px;
    line-height: 22px;
  }
}

.btn-default, .btn-main {
  border-radius: 30px;
  padding: 12px 50px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  box-shadow: 8.485px 8.485px 21px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default {
  background-color: #fff;
  text-transform: uppercase;
  color: #2e0d3e;
}

.btn-default:hover {
  background: #21082e;
  color: #fff;
}

.btn-main {
  background-color: rgba(46, 13, 62, 0.651);
  text-transform: uppercase;
  color: #ffffff  !important;
  text-align: center;
}

.btn-main:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff;
}

.brand-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.507);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.473);
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-header--brand {
  padding: 10px 0;
  height: 50px;
}

.brand-header--brand > img {
  height: 100%;
}

.skill {
  position: relative;
  width: 95%;
  height: 450px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: show;
  margin-top: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.473);
}

@media screen and (min-width: 392px) and (max-width: 640px) {
  .skill {
    width: 80%;
  }
}

.skill__img {
  position: absolute;
  width: 80%;
  height: 320px;
  background-color: transparent;
  border-radius: inherit;
  transform: translateY(-60px);
}

.skill__img > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  border: 4px solid rgba(46, 13, 62, 0.925);
  z-index: 1;
}

.skill__content {
  font-family: 'montserrat-regular';
  color: white;
  font-size: 14px;
  padding: 20px 30px 51px;
  text-align: justify;
  margin-top: auto;
}

.scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 60px;
  z-index: 999;
  border-radius: 50%;
  opacity: 1;
  width: 90px;
  height: 90px;
  background-image: url("../img/scroll-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrollToTop.hide {
  opacity: 0;
}

.scrollToTop:hover :hover {
  background-color: rgba(255, 255, 255, 0.808);
  transform: scale(1.05);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  font-family: 'montserrat-regular';
  width: 100%;
  padding: 0 15px;
  outline: none;
  height: 50px;
  background-color: rgba(46, 13, 62, 0.651);
  border: 1px solid #2e0d3e;
  border-radius: 10px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  background-color: rgba(46, 13, 62, 0.751);
}

.form-control::placeholder {
  color: #d6d6d6;
}

.form-control.error {
  border: 2px solid #a84327;
  background-color: rgba(110, 28, 28, 0.751);
}

textarea.form-control {
  padding-top: 20px;
  height: 150px;
}

label.error {
  padding: 15px 0;
  color: #6e1c1c;
}

.alert-success {
  padding: 10px 20px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #155724;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__video-background {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.home__video-background > video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.home__content {
  z-index: 1;
  padding: 80px 30px 30px 20px;
  width: 500px;
  height: 100%;
  background-image: linear-gradient(rgba(46, 13, 62, 0.8), rgba(46, 13, 62, 0.6));
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.473);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 640px) {
  .home__content {
    width: 90%;
  }
}

.home__info {
  font-family: 'opensans-bold';
  color: #fff;
  align-self: flex-start;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.home__champion {
  height: 70%;
  position: relative;
}

.home__champion > img {
  height: 100%;
}

@media screen and (max-width: 640px) {
  .home__champion {
    height: 430px;
  }
}

.home__description {
  text-align: center;
  font-family: 'montserrat-regular';
  color: #fff;
  font-size: 15px;
  max-width: 60%;
}

@media screen and (max-width: 640px) {
  .home__description {
    max-width: 80%;
  }
}

.main-footer {
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.speak-us {
  height: 70vh;
  width: 100vw;
  background-color: rgba(51, 9, 75, 0.7);
}

@media screen and (max-width: 768px) {
  .speak-us {
    height: auto;
  }
}

.speak-us__container {
  height: 500px;
}

.speak-us__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 120px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  min-height: 85vh;
  border-radius: 51px;
  transform: translateY(-60px);
  border: 5px #33094b;
}

@media screen and (max-width: 640px) {
  .speak-us__content {
    padding: 50px 30px;
  }
}

.speak-us__form {
  width: 70%;
  max-width: 70%;
}

@media screen and (max-width: 992px) {
  .speak-us__form {
    width: 100%;
    max-width: 100%;
  }
}

.speak-us__info {
  margin-bottom: 30px;
}

.skills {
  width: 100vw;
  height: auto;
  padding: 140px 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.skills__slider .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.skills__slider .owl-nav button {
  position: absolute;
  top: 40%;
  width: 90px;
  height: 70px;
  opacity: 0.8;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-image: url("../img/arrow.png") !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skills__slider .owl-nav button:hover {
  opacity: 1;
}

.skills__slider .owl-prev {
  left: -7%;
}

.skills__slider .owl-next {
  right: -7%;
  transform: scaleX(-1);
}

.skills__slider .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__slider .item.center {
  transform: scale(1.1);
}

/*# sourceMappingURL=maps/style.css.map */
