////! Load fonts with .woff is always better than google and others externals. Load faster! !////
@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/opensans/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}