body{
    font-family: 'opensans-regular';
    min-height: 100vh;
    overflow-x: hidden ;
    margin: 0;
    padding: 0;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &.webp{
        background-image: url('../img/hero-home.webp');
    }

    &.non-webp{
        background-image: url('../img/hero-home.jpg');
    }
}

@import 
'fonts',
'reset',
'typo',
'trumps',
'./mixins/transition.scss',
'./mixins/breakpoints.scss',
'./placeholders/buttons/default',
'./placeholders/buttons/main',
'./components/brand-header.scss',
'./components/skill.scss',
'./components/scroll-top.scss',
'./components/form-control.scss',
'./sections/home.scss',
'./sections/main-footer.scss',
'./sections/speak-us.scss',
'./sections/skills.scss';