.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-family: 'montserrat-regular';
    width: 100%;
    padding: 0 15px;
    outline: none;
    height: 50px;
    background-color: rgba(46, 13, 62, 0.651);
    border: 1px solid rgba(46, 13, 62, 9);
    border-radius: 10px;
    color: #fff;
    @include transition();
    &:focus {
        background-color: rgba(46, 13, 62, 0.751);
    }

    &::placeholder {
        color: rgb(214, 214, 214);
    }

    &.error {
        border: 2px solid rgb(168, 67, 39);
        background-color: rgba(110, 28, 28, 0.751);
    }
}

textarea.form-control {
    padding-top: 20px;
    height: 150px;
}

label.error {
    padding: 15px 0;
    color: rgba(110, 28, 28, 1);
}


.alert-success{
    padding: 10px 20px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #155724;
}